In [19]:
import numpy as np 
import pandas as pd 



import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize, sent_tokenize
from string import punctuation

In [20]:
# Download necessary NLTK data
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /Users/Vero/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /Users/Vero/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [21]:
df = pd.read_csv('Taylor Swift Album Prologues - Sheet1.csv')

In [22]:
df

,Album Name,Prologue Text,Date released,Color,Total Album Sales (In Millions)
0,Fearless,"This album is called ""Fearless"", and I guess I...",11/08/2008,gold,"10,002,500"
1,Speak Now,"Speak now or forever hold your peace,' the wor...",10/25/2011,purple,"6,437,500"
2,Red,There's an old poem by Neruda that I've always...,10/22/2012,red,"7,257,500"
3,1989,"""These songs were once about my life. They are...",10/27/2014,light blue,"10,735,000"
4,Reputation,Here's something I've learned about people. W...,11/10/2017,black,"3,710,000"
5,Lover,When I found old diaries from my childhood and...,08/23/2019,pink,"2,722,500"
6,Folklore,It started with imagery. Visuals that popped i...,07/24/2020,grey,"3,197,500"
7,Evermore,"To put it plainly, we just couldn't stop writi...",12/11/2020,brown,"1,867,500"
8,Midnights,What keeps you up at night? It's a momentary g...,10/21/2022,dark blue,"3,700,000"

In [23]:
# Function to find capital letters in a string
def find_capital_letters(text):
    return [char for char in text if char.isupper()]

capital_letters_per_cell = []

# Specify the column name you want to search
column_name = 'Prologue Text'  # Replace with the actual column name

# Check if the column exists in the DataFrame
if column_name not in df.columns:
    print(f"Column '{column_name}' does not exist in the DataFrame.")
else:
    # Apply the function to the column to find capital letters in each cell
    capital_letters_per_cell = df[column_name].apply(find_capital_letters)

    # Print the capital letters found in each cell of the specified column
    for i, letters in enumerate(capital_letters_per_cell):
        print(f"Cell {i+1} in column '{column_name}': {letters}")

Cell 1 in column 'Prologue Text': ['T', 'F', 'I', 'I', 'T', 'F', 'I', 'T', 'F', 'L', 'T', 'F', 'F', 'F', 'I', 'F', 'I', 'A', 'I', 'I', 'N', 'O', 'T', 'I', 'I', 'L', 'T', 'T', 'B', 'Y', 'T', 'I', 'B', 'I']
Cell 2 in column 'Prologue Text': ['S', 'I', 'I', 'S', 'I', 'R', 'I', 'S', 'B', 'I', 'I', 'W', 'I', 'W', 'I', 'W', 'T', 'I', 'T', 'E', 'I', 'T', 'I', 'D', 'T', 'I', 'T', 'T', 'I', 'T', 'T', 'T', 'I', 'W', 'I', 'W', 'M', 'B', 'I', 'S', 'O', 'S', 'I', 'I', 'T', 'T', 'B', 'I', 'I', 'L', 'T', 'P', 'S', 'T']
Cell 3 in column 'Prologue Text': ['T', 'N', 'I', 'I', 'I', 'I', 'I', 'I', 'A', 'T', 'T', 'A', 'I', 'M', 'T', 'T', 'A', 'A', 'A', 'A', 'A', 'I', 'B', 'A', 'A', 'M', 'I', 'I', 'I', 'L', 'B']
Cell 4 in column 'Prologue Text': ['T', 'T', 'I', 'R', 'P', 'D', 'I', 'O', 'A', 'B', 'I', 'T', 'T', 'I', 'A', 'I', 'I', 'T', 'I', 'I', 'E', 'I', 'I', 'F', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'N', 'Y', 'I', 'I', 'I', 'I', 'T', 'I', 'W', 'I', 'I', 'I', 'I', 'I', 'S', 'S', 'T', 'I', 'I', 'Y', 'F', 'N', 'Y']
Cell 5 in column 'Prologue Text': ['H', 'I', 'W', 'W', 'J', 'T', 'T', 'A', 'W', 'W', 'T', 'U', 'B', 'W', 'S', 'T', 'W', 'W', 'W', 'I', 'I', 'O', 'I', 'O', 'W', 'T', 'L', 'W', 'T', 'T']
Cell 6 in column 'Prologue Text': ['W', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'B', 'I', 'I', 'W', 'I', 'I', 'I', 'R', 'I', 'I', 'L', 'W', 'A', 'W', 'A', 'I', 'I', 'I', 'I', 'I', 'T', 'I', 'M', 'T', 'M', 'M', 'I', 'I', 'I', 'I', 'T', 'I', 'C', 'J', 'W', 'T', 'L']
Cell 7 in column 'Prologue Text': ['I', 'V', 'S', 'A', 'B', 'T', 'H', 'T', 'A', 'A', 'A', 'H', 'A', 'P', 'I', 'I', 'I', 'I', 'I', 'A', 'A', 'A', 'L', 'H', 'L', 'M', 'D', 'G', 'A', 'A', 'S', 'T', 'S', 'M', 'F', 'G', 'S', 'I', 'P', 'I', 'N']
Cell 8 in column 'Prologue Text': ['T', 'T', 'W', 'I', 'I', 'I', 'I', 'I', 'T', 'I', 'I', 'I', 'I', 'I', 'I', 'I', 'S', 'I', 'A', 'I', 'A', 'D', 'J', 'A', 'W', 'B', 'J', 'V', 'W', 'B', 'I', 'T', 'T', 'D', 'H', 'T', 'T', 'T', 'O', 'M', 'I', 'Y', 'I', 'I', 'I', 'I', 'I', 'I', 'T', 'A']
Cell 9 in column 'Prologue Text': ['W', 'I', 'T', 'A', 'T', 'Y', 'M', 'S', 'A', 'T', 'A', 'S', 'I', 'O', 'T', 'S', 'T', 'A', 'T', 'T', 'W', 'W', 'M', 'L', 'A', 'O', 'T', 'S', 'M', 'S', 'O', 'W', 'B', 'Y', 'Y', 'M', 'Y', 'W', 'S', 'W', 'F', 'W', 'W', 'W', 'T', 'T', 'F', 'H', 'S', 'M', 'T']

In [29]:
import itertools
import nltk
from nltk.corpus import words

# Download the words corpus if not already downloaded
nltk.download('words')

[nltk_data] Downloading package words to /Users/Vero/nltk_data...
[nltk_data]   Package words is already up-to-date!

True

In [ ]:
# List of lists of letters
letter_lists = [
    ['T', 'F', 'I', 'I', 'T', 'F', 'I', 'T', 'F', 'L', 'T', 'F', 'F', 'F', 'I', 'F', 'I', 'A', 'I', 'I', 'N', 'O', 'T', 'I', 'I', 'L', 'T', 'T', 'B', 'Y', 'T', 'I', 'B', 'I'],
    ['S', 'I', 'I', 'S', 'I', 'R', 'I', 'S', 'B', 'I', 'I', 'W', 'I', 'W', 'I', 'W', 'T', 'I', 'T', 'E', 'I', 'T', 'I', 'D', 'T', 'I', 'T', 'T', 'I', 'T', 'T', 'T', 'I', 'W', 'I', 'W', 'M', 'B', 'I', 'S', 'O', 'S', 'I', 'I', 'T', 'T', 'B', 'I', 'I', 'L', 'T', 'P', 'S', 'T'],
    # ... (add other lists here)
]

# Function to check if a word is valid English
def is_english_word(word):
    return word.lower() in words.words()

# Function to find English words from a list of letters
def find_english_words(letter_list):
    found_words = set()
    # Generate all permutations of the letters
    for r in range(1, len(letter_list) + 1):  # +1 to include the full length of the list
        for perm in itertools.permutations(letter_list, r):
            word = ''.join(perm).lower()
            if is_english_word(word):
                found_words.add(word)
    return found_words

# Find English words for each list of letters
for i, letter_list in enumerate(letter_lists, start=1):
    english_words = find_english_words(letter_list)
    print(f"Cell {i} in column 'Prologue Text': {english_words}")

In [24]:
# Define a function to preprocess the text
def preprocess_text(text):
    # Convert to lowercase
    text = text.lower()
    
    # Remove punctuation
    text = ''.join(c for c in text if c not in punctuation)
    
    # Tokenize the text into words
    words = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]
    
    # Join the words back into a string
    text = ' '.join(words)
    
    return text

In [25]:
# Apply the preprocessing function to the text column
df['Prologue Text'] = df['Prologue Text'].apply(preprocess_text)

# Calculate word count
df['Word Count'] = df['Prologue Text'].apply(lambda x: len(str(x).split()))

# Calculate average sentence length
df['Avg Sentence Length'] = df['Prologue Text'].apply(lambda x: len(sent_tokenize(x)) if len(sent_tokenize(x))>0 else 0)

# Calculate average word length
df['Avg Word Length'] = df['Prologue Text'].apply(lambda x: sum(len(word) for word in str(x).split()) / len(str(x).split()))

In [26]:
df

,Album Name,Prologue Text,Date released,Color,Total Album Sales (In Millions),Word Count,Avg Sentence Length,Avg Word Length
0,Fearless,album called fearless guess id like clarify ch...,11/08/2008,gold,"10,002,500",133,1,5.902256
1,Speak Now,speak forever hold peace words said preachers ...,10/25/2011,purple,"6,437,500",252,1,5.134921
2,Red,theres old poem neruda ive always captivated o...,10/22/2012,red,"7,257,500",171,1,5.614035
3,1989,songs life born reading pennsylvania december ...,10/27/2014,light blue,"10,735,000",241,1,5.390041
4,Reputation,heres something ive learned people think know ...,11/10/2017,black,"3,710,000",241,1,6.120332
5,Lover,found old diaries childhood teens covered dust...,08/23/2019,pink,"2,722,500",308,1,5.837662
6,Folklore,started imagery visuals popped mind piqued cur...,07/24/2020,grey,"3,197,500",191,1,6.125654
7,Evermore,put plainly couldnt stop writing songs try put...,12/11/2020,brown,"1,867,500",233,1,5.871245
8,Midnights,keeps night momentary glimmer distraction tini...,10/21/2022,dark blue,"3,700,000",285,1,5.894737

In [27]:
# Save the preprocessed data to a new CSV file
df.to_csv('preprocessed_data.csv', index=False)